<h1>Listing upcodes</h1>

<table>
  <thead>
    <tr>
      <th>Upc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @upcodes.each do |upcode| %>
      <tr>
        <td><%= upcode.upc %></td>
        <td><%= link_to 'Show', upcode %></td>
        <td><%= link_to 'Edit', edit_upcode_path(upcode) %></td>
        <td><%= link_to 'Destroy', upcode, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Upcode', new_upcode_path %>
