<p id="notice"><%= notice %></p>

<p>
  <strong>Styleno:</strong>
  <%= @style.styleno %>
</p>

<p>
  <strong>Season:</strong>
  <%= @style.season.name %>
  <%= @style.year %>
  <%#= @style.calendar.season %> <%#= @style.calendar.year %>
</p>

<p>
  <strong>UPC:</strong>
  <%= @style.styleupcode %>
</p>


<%= link_to 'Edit', edit_style_path(@style) %> |
<%= link_to 'Back', styles_path %>
